################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSSReader/obj/Debug
/.vs/RSSReader/v15/Server/sqlite3
